<%= form_for @medication do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :dosage %><br>
    <%= f.number_field :dosage %>
  </p>
 <p>How often do you take this Medication?</p>
    <p><%= f.check_box :morning %>
    <%= f.label :morning," Morning " %></p>
    <p><%= f.check_box :midday %>
    <%= f.label :midday," midday " %></p>
    <p><%= f.check_box :afternoon %>
    <%= f.label :afternoon," afternoon " %></p>
    <p><%= f.check_box :evening %>
    <%= f.label :evening," evening " %></p>

      <%= f.submit %>

<% end %>
