<h1>editing medication</h1>

<%= form_for @medication do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :dosage %><br>
    <%= f.number_field :dosage %>
  </p>
  <p>I'm in Section 1.</p>

  <%= f.submit %>
<% end %>

<%= link_to "delete medication",medication_path(@medication),class:"btn btn-danger", method: :delete %></p>

<h2>Reminders</h2>
<% @reminders.each do |reminder| %>
  <p><%= reminder.interval %>
    <%= link_to "Delete",[@medication,reminder], method: :delete,class:"btn-sm btn-danger" %>
</p>
<% end %>
<%= link_to "Add New Reminder",new_medication_reminder_path(@medication),class:"btn btn-primary" %>
