<h1>Show view</h1>
<p> Medication Name: <%= @medication.name %> </p>
<p><%= link_to "edit medication", edit_medication_path(@medication) %></p>

<h2>Reminders</h2>
<% @reminders.each do |reminder| %>
  <p><%= reminder.interval %>
    <%= link_to "Delete",[@medication,reminder], method: :delete,class:"btn-sm btn-danger" %>
</p>
<% end %>
<%= link_to "Add New Reminder",new_medication_reminder_path(@medication),class:"btn btn-primary" %>
